# Windows OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio / VSCode
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.temp
*.log

# PowerShell
*.pssproj
